@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin-top: 3rem;
    font-family: 'Reem Kufi', sans-serif;
    background:url('../bitmap.png');
    color: wheat;
}