.header {
    text-align: center;
    padding: 2rem;

    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   h1 {
       font-size: 3.5rem;
   }
   a {
    position: absolute;
    top: 5%;
    left: 80%;
    text-decoration: none;
    color: $secondary-color;
    font-weight: 600;
}
}
.mob-wrapper {

    text-align: center;

    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
    .mob {
        h2 {
            font-size: 1.8rem;
        }
    }
}
.question_mark {
    padding: .5rem;
    border-bottom: 2px solid purple;
}

.recBook {
    margin-top: 4rem;
    font-size: 2.5rem;
    color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #8F3B78;
}
.recMovie {
    margin-top: 4rem;
    font-size: 2.5rem;
    color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #8F3B78;
}

@media (max-width: 1300px) {
    body {
    font-family: 'Reem Kufi', sans-serif;
    background: url(../bg.png);
    background-position: fixed;
    background-repeat: no-repeat;
    color: $secondary-color;
    }
}
@media (max-width: 750px) {
    body {
        padding: 2rem;
        background: transparent;
    }
    h1 {
        font-size: 1.4rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.8rem;
    }
}
.mobspan {
    margin: .4 2rem;
    padding: 0 .5rem;
    border-bottom: 3px solid $secondary-color;
}